pkgbase = iraf-bin
	pkgdesc = IRAF - Image Reduction and Analysis Facility
	pkgver = 2.18.1~rc1
	pkgrel = 1
	url = https://github.com/iraf-community/iraf
	arch = x86_64
	license = custom
	noextract = iraf_2.18.1~rc1-1_amd64.deb
	noextract = iraf-noao_2.18.1~rc1-1_amd64.deb
	options = !debug
	source = https://deb.debian.org/debian/pool/main/i/iraf/iraf_2.18.1~rc1-1_amd64.deb
	source = https://deb.debian.org/debian/pool/main/i/iraf/iraf-noao_2.18.1~rc1-1_amd64.deb
	sha256sums = 3a28c82c5a6464e61992edc3315514ecfc8a476fca1740f614a664d80393f09a
	sha256sums = eabf11092e3879c6d1640226617b83777e065724d3bf0e857cc153f842b6b530

pkgname = iraf-bin
	depends = glibc
	depends = readline
	depends = sh
	optdepends = iraf-noao: IRAF NOAO data reduction package
	optdepends = ds9: Image display tool for astronomy
	optdepends = xgterm: Terminal emulator to work with IRAF
	provides = iraf
	conflicts = iraf

pkgname = iraf-noao-bin
	depends = iraf
	provides = iraf-noao
	conflicts = iraf-noao
