pkgbase = iraf-bin
	pkgdesc = IRAF - Image Reduction and Analysis Facility
	pkgver = 2.18.1
	pkgrel = 2
	url = https://github.com/iraf-community/iraf
	arch = x86_64
	license = custom
	noextract = iraf_2.18.1~rc1-2_amd64.deb
	noextract = iraf-noao_2.18.1~rc1-2_amd64.deb
	options = !debug
	source = https://deb.debian.org/debian/pool/main/i/iraf/iraf_2.18.1~rc1-2_amd64.deb
	source = https://deb.debian.org/debian/pool/main/i/iraf/iraf-noao_2.18.1~rc1-2_amd64.deb
	sha256sums = 21a47659a70022747858c36696adf80eb7096297d76dc3e72ba7d0b4cdfed55e
	sha256sums = 7f4270ff159bb76525d3f126acf473ade69027df05ce88f791693718d8a5bc02

pkgname = iraf-bin
	depends = glibc
	depends = readline
	depends = sh
	optdepends = iraf-noao: IRAF NOAO data reduction package
	optdepends = ds9: Image display tool for astronomy
	optdepends = xgterm: Terminal emulator to work with IRAF
	provides = iraf
	conflicts = iraf

pkgname = iraf-noao-bin
	depends = iraf
	provides = iraf-noao
	conflicts = iraf-noao
