pkgbase = 7-zip-full
	pkgdesc = File archiver with a high compression ratio (full package to replace p7zip)
	pkgver = 23.01
	pkgrel = 5
	url = https://7-zip.org/
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	license = LGPL-2.1-or-later
	license = BSD-3-Clause
	license = LicenseRef-UnRAR
	makedepends = git
	makedepends = uasm
	provides = 7-zip
	provides = p7zip
	provides = 7z.so
	conflicts = 7-zip
	conflicts = p7zip
	noextract = 7z2301-linux-x64.tar.xz
	source = git+https://github.com/ip7z/7zip.git#tag=23.01
	source = https://github.com/ip7z/7zip/releases/download/23.01/7z2301-linux-x64.tar.xz
	source = 01-make.patch
	source = 02-lib-load-path.patch
	sha256sums = 438b2500d17cbb84f532666d17a3d48775653f914ffa1365ec18a28f4eec1745
	sha256sums = 23babcab045b78016e443f862363e4ab63c77d75bc715c0b3463f6134cbcf318
	sha256sums = 59dee0da982a8da84af8f7b7a08868d4e8ccffd02be82b97834dd4024ddbd38b
	sha256sums = ac846e73d248cc51e3005d62d68f77a97c13d6baaae5c159e9fd35919921558d

pkgname = 7-zip-full
