pkgbase = python311
	pkgdesc = The Python programming language (version 3.11)
	pkgver = 3.11.13
	pkgrel = 2
	url = https://www.python.org/
	arch = x86_64
	arch = aarch64
	license = PSF-2.0
	makedepends = gdb
	makedepends = tk
	depends = mpdecimal
	optdepends = python-pip
	optdepends = python-pipx
	optdepends = python-setuptools
	optdepends = tk
	options = strip
	options = !debug
	options = !lto
	source = https://www.python.org/ftp/python/3.11.13/Python-3.11.13.tar.xz
	source = EXTERNALLY-MANAGED
	sha256sums = 8fb5f9fbc7609fa822cb31549884575db7fd9657cbffb89510b5d7975963a83a
	sha256sums = d96bca8f7be0d1a83eb88f7c40924434168b1cb8a57870a55ad34207a3718c0a

pkgname = python311
