pkgbase = xgterm-bin
	pkgdesc = Terminal emulator to work with IRAF
	pkgver = 2.2
	pkgrel = 1
	url = https://github.com/iraf-community/x11iraf
	arch = x86_64
	license = custom
	depends = libxaw
	depends = ncurses
	depends = tcl
	depends = xaw3d
	optdepends = iraf: Image Reduction and Analysis Facility
	provides = xgterm
	conflicts = xgterm
	options = !debug
	source = https://deb.debian.org/debian/pool/main/x/x11iraf/xgterm_2.2+dfsg-1_amd64.deb
	sha256sums = 0ffa32e75324a317e783738aa466ecc5612e13dd886008fa28efe39520a01879

pkgname = xgterm-bin
