pkgbase = xgterm-bin
	pkgdesc = Terminal emulator to work with IRAF
	pkgver = 2.2~rc1
	pkgrel = 2
	url = https://github.com/iraf-community/x11iraf
	arch = x86_64
	license = custom
	depends = libxaw
	depends = ncurses
	depends = tcl
	depends = xaw3d
	optdepends = iraf: Image Reduction and Analysis Facility
	provides = xgterm
	conflicts = xgterm
	options = !debug
	source = https://deb.debian.org/debian/pool/main/x/x11iraf/xgterm_2.2~rc1+dfsg-4_amd64.deb
	sha256sums = bf2d35d9546457361877ebc78b2fa7c0f53beaa3cc1cf815efbf19e0b25d14b0

pkgname = xgterm-bin
