pkgbase = xgterm-bin
	pkgdesc = Terminal emulator to work with IRAF
	pkgver = 2.1
	pkgrel = 3
	url = https://github.com/iraf-community/x11iraf
	arch = x86_64
	license = custom
	depends = libxaw
	depends = ncurses
	depends = tcl
	depends = xaw3d
	optdepends = iraf: Image Reduction and Analysis Facility
	provides = xgterm
	conflicts = xgterm
	options = !debug
	source = https://deb.debian.org/debian/pool/main/x/x11iraf/xgterm_2.1+dfsg-3_amd64.deb
	sha256sums = bafaf93951e43538d8006a5de053b89b77f06416a351037d43dea056103636ca

pkgname = xgterm-bin
