pkgbase = python312
	pkgdesc = The Python programming language (version 3.12)
	pkgver = 3.12.11
	pkgrel = 2
	url = https://www.python.org/
	arch = x86_64
	arch = aarch64
	license = PSF-2.0
	makedepends = gdb
	makedepends = tk
	depends = mpdecimal
	optdepends = python-pip
	optdepends = python-pipx
	optdepends = python-setuptools
	optdepends = tk
	options = strip
	options = !debug
	options = !lto
	source = https://www.python.org/ftp/python/3.12.11/Python-3.12.11.tar.xz
	source = EXTERNALLY-MANAGED
	sha256sums = c30bb24b7f1e9a19b11b55a546434f74e739bb4c271a3e3a80ff4380d49f7adb
	sha256sums = d96bca8f7be0d1a83eb88f7c40924434168b1cb8a57870a55ad34207a3718c0a

pkgname = python312
