pkgbase = apt-zsh-completion
	pkgdesc = Zsh completion for apt and dpkg
	pkgver = 5.9
	pkgrel = 1
	url = https://zsh.org/
	arch = any
	license = custom
	depends = zsh
	options = !debug
	source = apt-zsh-completion@zsh-v5.9.tar.xz::https://zsh.org/pub/zsh-5.9.tar.xz
	sha256sums = 9b8d1ecedd5b5e81fbf1918e876752a7dd948e05c1a0dba10ab863842d45acd5
	sha512sums = d9138b7f379ad942a5f46819d2dd52d31f3a1129f2a0d1b53d4c5cd43c318b60396da6d37c57c477b8e958fb750209aca0ae93f8c9dd42ac958de006a0ff067e

pkgname = apt-zsh-completion
