pkgbase = python310
	pkgdesc = The Python programming language (version 3.10)
	pkgver = 3.10.16
	pkgrel = 2
	url = https://www.python.org/
	arch = x86_64
	license = PSF-2.0
	makedepends = bluez-libs
	makedepends = gdb
	makedepends = llvm
	makedepends = tk
	makedepends = ttf-font
	depends = mpdecimal
	optdepends = python-pip
	optdepends = python-pipx
	optdepends = python-setuptools
	optdepends = tk
	source = https://www.python.org/ftp/python/3.10.16/Python-3.10.16.tar.xz
	source = EXTERNALLY-MANAGED
	validpgpkeys = 0D96DF4D4110E5C43FBFB17F2D347EA6AA65421D
	validpgpkeys = E3FF2839C048B25C084DEBE9B26995E310250568
	validpgpkeys = A035C8C19219BA821ECEA86B64E628F8D684696D
	sha256sums = bfb249609990220491a1b92850a07135ed0831e41738cf681d63cf01b2a8fbd1
	sha256sums = d96bca8f7be0d1a83eb88f7c40924434168b1cb8a57870a55ad34207a3718c0a

pkgname = python310
