pkgbase = glibc-linux4
	pkgver = 2.39
	pkgrel = 1
	url = https://www.gnu.org/software/libc/
	arch = x86_64
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	makedepends = git
	makedepends = gd
	makedepends = lib32-gcc-libs
	makedepends = python
	options = staticlibs
	options = !lto
	source = https://ftp.gnu.org/gnu/glibc/glibc-2.39.tar.xz
	source = https://ftp.gnu.org/gnu/glibc/glibc-2.39.tar.xz.sig
	source = glibc-linux4.patch
	source = locale.gen.txt
	source = locale-gen
	source = lib32-glibc.conf
	source = sdt.h
	source = sdt-config.h
	validpgpkeys = 7273542B39962DF7B299931416792B4EA25340F8
	validpgpkeys = BC7C7372637EC10C57D7AA6579C43DFBF1CF2187
	sha256sums = f77bd47cf8170c57365ae7bf86696c118adb3b120d3259c64c502d3dc1e2d926
	sha256sums = SKIP
	sha256sums = 41ee9b05d2bfa478622b72ca5be553061072e0e52197a8550fae0dd7ee56405c
	sha256sums = 2a7dd6c906b6c54a68f48a21898664a32fdb136cbd9ff7bfd48f01d1aaa649ae
	sha256sums = 8c5cc09018cbd65e8570430f872e118caa2644e311d6200b7d5f0cba837fbba4
	sha256sums = c27424154a6096ae32c0824b785e05de6acef33d9224fd6147d1936be9b4962b
	sha256sums = 774061aff612a377714a509918a9e0e0aafce708b87d2d7e06b1bd1f6542fe70
	sha256sums = cdc234959c6fdb43f000d3bb7d1080b0103f4080f5e67bcfe8ae1aaf477812f0

pkgname = glibc-linux4
	pkgdesc = GNU C Library (linux 4.x compat)
	install = glibc.install
	depends = linux-api-headers>=4.10
	depends = tzdata
	depends = filesystem
	optdepends = gd: for memusagestat
	optdepends = perl: for mtrace
	provides = glibc=2.39
	conflicts = glibc
	backup = etc/gai.conf
	backup = etc/locale.gen

pkgname = lib32-glibc-linux4
	pkgdesc = GNU C Library (linux 4.x compat, 32-bit)
	depends = glibc=2.39
	provides = lib32-glibc=2.39
	conflicts = lib32-glibc
	options = staticlibs
	options = !lto
	options = !emptydirs
